CONFIG_ARCH_SONY_MURRAY=y
CONFIG_MACH_SONY_PDX225=y
CONFIG_NFC_QTI_I2C=y
CONFIG_SONY_EXT_UIM_CTRL=y
CONFIG_HAPTIC_NV=y
CONFIG_LEDS_HAPTICS=y
CONFIG_LEDS_HAPTICS_DRV2624_RAM=y
CONFIG_TOUCHSCREEN_SEC_TS=y
CONFIG_HALL_SENSOR_NOT_USE_SWITCH=y
CONFIG_HALL_SENSOR_NOT_USE_SETUP_TIMER=y
CONFIG_IFPM_SM5038=y
# CONFIG_SMB1398_CHARGER is not set
# CONFIG_SMB1355_SLAVE_CHARGER is not set
CONFIG_SM5038_WATER_DETECTION_ENABLE=y
CONFIG_SM5038_SUPPORT_SBU=y
CONFIG_LEDS_AW2016=y
