# CONFIG_ARM64_PAN is not set
# CONFIG_ARM64_VHE is not set
# CONFIG_COMMON_CLK_XGENE is not set
# CONFIG_CRYPTO_DEV_VIRTIO is not set
# CONFIG_HARDEN_BRANCH_PREDICTOR is not set
# CONFIG_HW_RANDOM_CAVIUM is not set
# CONFIG_INET_XFRM_MODE_BEET is not set
# CONFIG_MMC_ENABLE_CLK_SCALE is not set
# CONFIG_PRINT_QUOTA_WARNING is not set
# CONFIG_QCOM_QHEE_ENABLE_MEM_PROTECTION is not set
# CONFIG_RC_CORE is not set
# CONFIG_SDFAT_FS is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_USB_PCI is not set
# CONFIG_VMAP_STACK is not set
CONFIG_ARCH_MMAP_RND_COMPAT_BITS=16
CONFIG_ARM64_DMA_IOMMU_ALIGNMENT=8
CONFIG_ARM64_REG_REBALANCE_ON_CTX_SW=y
CONFIG_ARM64_SSBD=y
CONFIG_ARM_GIC_V3_REDISTRIBUTOR_HACK=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_BOOTPARAM_HUNG_TASK_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
CONFIG_BRIDGE_EBT_ARPREPLY=y
CONFIG_BRIDGE_EBT_ARP=y
CONFIG_BRIDGE_EBT_DNAT=y
CONFIG_BRIDGE_EBT_IP6=y
CONFIG_BRIDGE_EBT_IP=y
CONFIG_BRIDGE_EBT_SNAT=y
CONFIG_BRIDGE_EBT_T_FILTER=y
CONFIG_BRIDGE_EBT_T_NAT=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_BTFM_SLIM_WCN3990=y
CONFIG_BTFM_SLIM=y
CONFIG_CLOCK_CPU_OSM_LEGACY=y
CONFIG_CMA_DEBUGFS=y
CONFIG_COMPAT_VDSO=y
CONFIG_CPU_FREQ_DEFAULT_GOV_INTERACTIVE=y
CONFIG_CPU_FREQ_MSM=y
CONFIG_CPU_IDLE_GOV_LADDER=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEFAULT_HUNG_TASK_TIMEOUT=30
CONFIG_DEVFREQ_SPDM=y
CONFIG_ECM_IPA=y
CONFIG_EDAC_CORTEX_ARM64=y
CONFIG_EDAC=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_FPC1145_PLATFORM=y
CONFIG_I2C_MSM_V2=y
CONFIG_ICNSS_DEBUG=y
CONFIG_INPUT_QTI_HAPTICS=y
CONFIG_IPA=y
CONFIG_L2TP_DEBUGFS=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_QPNP_VIBRATOR_LDO=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_PANIC=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_USER=y
CONFIG_LIMITS_LITE_HW=y
CONFIG_LIMITS_MONITOR=y
CONFIG_LOG_CPU_MAX_BUF_SHIFT=15
CONFIG_MAILBOX=y
CONFIG_MMC_SDHCI_MSM_ICE=y
CONFIG_MMC_SDHCI_MSM=y
CONFIG_MMC_SOMC_LOW_VOLTAGE=y
CONFIG_MSM_APM=y
CONFIG_MSM_AVTIMER_LEGACY=y
CONFIG_MSMB_CAMERA=y
CONFIG_MSM_BCL_PERIPHERAL_CTL_LEGACY=y
CONFIG_MSM_BCL_PERIPHERAL_CTL=y
CONFIG_MSMB_JPEG=y
CONFIG_MSM_CAMERA_SENSOR=y
CONFIG_MSM_CAMERA=y
CONFIG_MSM_CCI=y
CONFIG_MSM_CPP=y
CONFIG_MSM_CSI20_HEADER=y
CONFIG_MSM_CSI22_HEADER=y
CONFIG_MSM_CSI30_HEADER=y
CONFIG_MSM_CSI31_HEADER=y
CONFIG_MSM_CSID=y
CONFIG_MSM_CSIPHY=y
CONFIG_MSM_DEBUG_LAR_UNLOCK=y
CONFIG_MSM_EEPROM=y
CONFIG_MSM_FD=y
CONFIG_MSM_GPUCC_660=y
CONFIG_MSM_ISPIF=y
CONFIG_MSM_JPEGDMA=y
CONFIG_MSM_L2_SPM=y
CONFIG_MSM_MMCC_660=y
CONFIG_MSM_PIL_MSS_QDSP6V5=y
CONFIG_MSM_QUSB_PHY=y
CONFIG_MSM_RPM_SMD=y
CONFIG_MSM_SNPS_FEMTO_PHY=y
CONFIG_MSM_SPCOM=y
CONFIG_MSM_SPM=y
CONFIG_MSM_SPSS_UTILS=y
CONFIG_MSM_TIMER_LEAP=y
CONFIG_MSM_V4L2_VIDEO_OVERLAY_DEVICE=y
CONFIG_MSM_VIDC_3X_GOVERNORS=y
CONFIG_MSM_VIDC_3X_V4L2=y
CONFIG_NETFILTER_XT_MATCH_POLICY=y
CONFIG_NETFILTER_XT_TARGET_TCPMSS=y
CONFIG_NETLABEL=y
CONFIG_NEW_LEDS=y
CONFIG_NFC_PN547_PMC_CLK_REQ=y
CONFIG_NFC_PN547=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_PANIC_ON_DATA_CORRUPTION=y
CONFIG_PANIC_ON_RECURSIVE_FAULT=y
CONFIG_PCIEASPM_POWERSAVE=y
CONFIG_PCIE_DPC=y
CONFIG_PCIE_DW_PLAT=y
CONFIG_PCIE_PTM=y
CONFIG_PCIE_QCOM=y
CONFIG_PCI=y
CONFIG_PHYLIB=y
CONFIG_PHY_QCOM_UFS=y
CONFIG_PINCTRL_LPI=y
CONFIG_PINCTRL_SDM660=y
CONFIG_PON_SOMC_ORG=y
CONFIG_PSTORE_PMSG=y
CONFIG_PTP_1588_CLOCK=y
CONFIG_QCOM_CLK_SMD_RPM=y
CONFIG_QCOM_COINCELL=y
CONFIG_QCOM_KRYO_L2_ACCESSORS=y
CONFIG_QCOM_RRADC=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_QCOM_SMSM=y
CONFIG_QCOM_SPMI_IADC=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_QCOM_SPS_DMA=y
CONFIG_QCOM_WDOG_IPI_ENABLE=y
CONFIG_QPNP_FG_GEN3=y
CONFIG_QPNP_MISC=y
CONFIG_QPNP_SMB2=y
CONFIG_QSEE_IPC_IRQ_BRIDGE=y
CONFIG_QTI_MPM=y
CONFIG_QTI_RPM_SMD_COOLING_DEVICE=y
CONFIG_QTI_THERMAL_LIMITS_DCVS_LEGACY=y
CONFIG_REGULATOR_CPR2_GFX=y
CONFIG_REGULATOR_CPR3_HMSS=y
CONFIG_REGULATOR_CPR3_MMSS=y
CONFIG_REGULATOR_CPR4_MMSS_LDO=y
CONFIG_REGULATOR_CPRH_KBSS=y
CONFIG_REGULATOR_CPR=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_REGULATOR_KRYO=y
CONFIG_REGULATOR_MEM_ACC=y
CONFIG_REGULATOR_MSM_GFX_LDO=y
CONFIG_REGULATOR_QPNP_LABIBB=y
CONFIG_REGULATOR_QPNP_OLEDB=y
CONFIG_REGULATOR_QPNP=y
CONFIG_REGULATOR_RPM_SMD=y
CONFIG_REMOTEPROC=y
CONFIG_RMNET_DATA_FC=y
CONFIG_RMNET_DATA=y
CONFIG_RMNET_IPA=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_SCSI_LOGGING=y
CONFIG_SENSORS_ET51X=y
CONFIG_SERIAL_MSM_HS=y
CONFIG_SERIAL_MSM=y
CONFIG_SERIO_LIBPS2=y
CONFIG_SLIMBUS=y
CONFIG_SMB1351_USB_CHARGER=y
CONFIG_SND_SOC_ANALOG_CDC=y
CONFIG_SND_SOC_DIGITAL_CDC=y
CONFIG_SND_SOC_INT_CODEC=y
CONFIG_SND_SOC_MSM_SDW=y
CONFIG_SND_SOC_SDM660_CDC=y
CONFIG_SND_SOC_SDM670=y
CONFIG_SOC_CAMERA_PLATFORM=y
CONFIG_SOC_CAMERA=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_SOMC_RRADC_EXTENSION=y
CONFIG_SONY_CAM_V4L2=y
CONFIG_SOUNDWIRE_WCD_CTRL=y
CONFIG_SPDM_SCM=y
CONFIG_SPI_DEBUG=y
CONFIG_SPI_QUP=y
CONFIG_SPMI_MSM_PMIC_ARB_DEBUG=y
CONFIG_STM=y
CONFIG_SW_SYNC=y
CONFIG_USB_ACM=y
CONFIG_USB_CC_FUSB301=y
CONFIG_USB_CI13XXX_MSM=y
CONFIG_USB_GADGET_DEBUG_FILES=y
CONFIG_USB_GADGET_DEBUG_FS=y
CONFIG_USB_GADGET_STORAGE_NUM_BUFFERS=4
CONFIG_USB_MON=y
CONFIG_USB_MSM_OTG_DOWNSTREAM=y
CONFIG_USB_MSM_SSPHY=y
CONFIG_USB_OTG_WAKELOCK=y
CONFIG_USB_STORAGE_ALAUDA=y
CONFIG_USB_STORAGE_CYPRESS_ATACB=y
CONFIG_USB_STORAGE_DATAFAB=y
CONFIG_USB_STORAGE_FREECOM=y
CONFIG_USB_STORAGE_ISD200=y
CONFIG_USB_STORAGE_JUMPSHOT=y
CONFIG_USB_STORAGE_KARMA=y
CONFIG_USB_STORAGE_SDDR09=y
CONFIG_USB_STORAGE_SDDR55=y
CONFIG_USB_STORAGE_USBAT=y
CONFIG_USB_TYPEC_MUX_NXP5150A=y
CONFIG_USB_ULPI=y
