CONFIG_LOCALVERSION="-sodp"
CONFIG_ARCH_PINEAPPLE=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_GH_ARM64_DRV=y
# CONFIG_MODULE_SIG_ALL is not set
CONFIG_CMA_DEBUG=y
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_QRTR_TUN=y
CONFIG_QRTR_MHI=y
CONFIG_CFG80211=y
CONFIG_NL80211_TESTMODE=y
# CONFIG_CFG80211_DEFAULT_PS is not set
# CONFIG_CFG80211_CRDA_SUPPORT is not set
CONFIG_MAC80211=y
# CONFIG_MAC80211_RC_MINSTREL is not set
CONFIG_PCI_MSM=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_MHI_BUS=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_MHI_BUS_MISC=y
CONFIG_MHI_UCI=y
CONFIG_MHI_SATELLITE=y
CONFIG_QTI_SCMI_VENDOR_PROTOCOL=y
CONFIG_QSEECOM_PROXY=y
CONFIG_INPUT_PM8941_PWRKEY=y
CONFIG_SERIAL_MSM_GENI=y
CONFIG_HVC_GUNYAH=y
CONFIG_I2C_MSM_GENI=y
CONFIG_I3C_MASTER_MSM_GENI=y
CONFIG_Q2SPI_MSM_GENI=y
CONFIG_SPI_MSM_GENI=y
CONFIG_SPMI_MSM_PMIC_ARB=y
CONFIG_SPMI_MSM_PMIC_ARB_DEBUG=y
CONFIG_PINCTRL_MSM=y
CONFIG_PINCTRL_PINEAPPLE=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
CONFIG_PINCTRL_SOMC=y
CONFIG_PINCTRL_SOMC_PMIC=y
CONFIG_POWER_RESET_QCOM_DOWNLOAD_MODE=y
CONFIG_POWER_RESET_QCOM_DOWNLOAD_MODE_DEFAULT=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_POWER_RESET_QCOM_REBOOT_REASON=y
CONFIG_QTI_BATTERY_CHARGER=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_MFD_SPMI_PMIC=y
CONFIG_REGULATOR_DEBUG_CONTROL=y
CONFIG_REGULATOR_QTI_FIXED_VOLTAGE=y
CONFIG_REGULATOR_PROXY_CONSUMER=y
CONFIG_REGULATOR_RPMH=y
CONFIG_DRM_MSM_HELPER=y
CONFIG_USB_DWC3_MSM=y
CONFIG_USB_QCOM_EMU_PHY=y
CONFIG_USB_MSM_SSPHY_QMP=y
CONFIG_USB_MSM_EUSB2_PHY=y
CONFIG_USB_CONFIGFS_F_CDEV=y
CONFIG_USB_CONFIGFS_F_CCID=y
CONFIG_USB_CONFIGFS_F_QDSS=y
CONFIG_USB_CONFIGFS_F_GSI=y
CONFIG_UCSI_QTI_GLINK=y
CONFIG_USB_REPEATER=y
CONFIG_QTI_PMIC_EUSB2_REPEATER=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SCSI_UFS_CRYPTO_QTI=y
CONFIG_LEDS_QTI_FLASH=y
CONFIG_LEDS_QCOM_LPG=y
CONFIG_RTC_DRV_PM8XXX=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_MSM_GPI_DMA=y
CONFIG_MSM_GPI_DMA_DEBUG=y
CONFIG_QCOM_DMABUF_HEAPS=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM=y
CONFIG_QCOM_DMABUF_HEAPS_PAGE_POOL_REFILL=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM_SECURE=y
CONFIG_QCOM_DMABUF_HEAPS_CMA=y
CONFIG_QCOM_DMABUF_HEAPS_CARVEOUT=y
CONFIG_UIO_MSM_SHAREDMEM=y
CONFIG_GUNYAH_DRIVERS=y
CONFIG_GH_VIRT_WATCHDOG=y
CONFIG_GH_CTRL=y
CONFIG_GH_DBL=y
CONFIG_GH_MSGQ=y
CONFIG_GH_RM_DRV=y
CONFIG_GH_IRQ_LEND=y
CONFIG_GH_MEM_NOTIFIER=y
CONFIG_GH_SECURE_VM_LOADER=y
CONFIG_GH_PROXY_SCHED=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_QCOM_CLK_RPMH=y
CONFIG_SM_GCC_PINEAPPLE=y
CONFIG_SM_VIDEOCC_PINEAPPLE=y
CONFIG_SM_CAMCC_PINEAPPLE=y
CONFIG_SM_DISPCC_PINEAPPLE=y
CONFIG_SM_GPUCC_PINEAPPLE=y
CONFIG_SM_TCSRCC_PINEAPPLE=y
CONFIG_QCOM_GDSC_REGULATOR=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_QCOM_IPCC=y
CONFIG_MSM_QMP=y
CONFIG_IOMMU_IO_PGTABLE_FAST=y
CONFIG_ARM_SMMU=y
CONFIG_QTI_IOMMU_SUPPORT=y
CONFIG_QCOM_IOMMU_UTIL=y
CONFIG_QCOM_IOMMU_DEBUG=y
CONFIG_QCOM_LAZY_MAPPING=y
CONFIG_QCOM_Q6V5_PAS=y
CONFIG_QCOM_SPSS=y
CONFIG_QCOM_SYSMON=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
CONFIG_RPMSG_QCOM_GLINK_SPSS=y
CONFIG_QCOM_GLINK_PKT=y
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_SPS=y
CONFIG_SPS_SUPPORT_NDP_BAM=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_QCOM_CRM=y
CONFIG_QCOM_DCC_V2=y
CONFIG_QCOM_CPUCP=y
CONFIG_QTI_CPUCP_LOG=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_RPMH=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_MEMORY_DUMP_V2=y
CONFIG_QCOM_SMP2P=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_LOGBUF_VENDOR_HOOKS=y
CONFIG_QCOM_LOGBUF_BOOTLOG=y
CONFIG_QCOM_WDT_CORE=y
CONFIG_QCOM_FORCE_WDOG_BITE_ON_PANIC=y
CONFIG_QCOM_PMU_LIB=y
CONFIG_QCOM_DCVS_FP=y
CONFIG_QCOM_DCVS=y
CONFIG_QCOM_MEMLAT=y
CONFIG_QCOM_BWMON=y
CONFIG_QTI_QCOM_SCMI_CLIENT=y
CONFIG_QTI_C1DCVS_SCMI_V2=y
CONFIG_QTI_CPUFREQ_STATS_SCMI_V2=y
CONFIG_QCOM_RAMDUMP=y
CONFIG_QCOM_MINIDUMP=y
CONFIG_QCOM_VA_MINIDUMP=y
CONFIG_QCOM_MINIDUMP_FTRACE=y
CONFIG_QCOM_SECURE_BUFFER=y
CONFIG_QCOM_MEM_BUF=y
CONFIG_QCOM_MEM_BUF_GH=y
CONFIG_QCOM_MEM_BUF_MSGQ=y
CONFIG_QTI_PMIC_GLINK=y
CONFIG_QTI_PMIC_GLINK_CLIENT_DEBUG=y
CONFIG_QTI_ALTMODE_GLINK=y
CONFIG_QTI_BATTERY_GLINK_DEBUG=y
CONFIG_QTI_CHARGER_ULOG_GLINK=y
CONFIG_QTI_PMIC_GLINK_DEBUG=y
CONFIG_QCOM_WCD_USBSS_I2C=y
CONFIG_QCOM_DEBUG_SYMBOL=y
CONFIG_MSM_PERFORMANCE=y
CONFIG_DEVFREQ_GOV_QCOM_ADRENO_TZ=y
CONFIG_DEVFREQ_GOV_QCOM_GPUBW_MON=y
CONFIG_QTI_GLINK_ADC=y
CONFIG_QCOM_PDC=y
CONFIG_PHY_QCOM_UFS=y
CONFIG_PHY_QCOM_UFS_V4=y
CONFIG_QCOM_LLCC_PMU=y
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_NVMEM_SPMI_SDAM=y
CONFIG_SLIMBUS=y
CONFIG_SLIM_QCOM_NGD_CTRL=y
CONFIG_INTERCONNECT_QCOM_PINEAPPLE=y
CONFIG_INTERCONNECT_QCOM_DEBUG=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_LOCK_TORTURE_TEST=y
CONFIG_RCU_TORTURE_TEST=y
CONFIG_IPC_LOGGING=y
CONFIG_SCHED_WALT=y
