CONFIG_MACH_SONY_APOLLO=y
CONFIG_INPUT_BU520X1NVX=y
CONFIG_LDO_VIBRATOR=y
CONFIG_TOUCHSCREEN_CLEARPAD_CORE=y
CONFIG_TOUCHSCREEN_CLEARPAD_I2C=y
CONFIG_TOUCHSCREEN_CLEARPAD_RMI_DEV=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TCM_TAMA=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TCM_TAMA_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TCM_TAMA_CORE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TCM_TAMA_TOUCH=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TCM_TAMA_DEVICE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TCM_TAMA_REFLASH=y
CONFIG_TOUCHSCREEN_SYNAPTICS_TCM_TAMA_RECOVERY=y
