CONFIG_MACH_SONY_KUGO=y
CONFIG_TOUCHSCREEN_CLEARPAD_I2C=y
CONFIG_FPC1145_PLATFORM=y
CONFIG_FB_MSM_MDSS_SPECIFIC_PANEL=y
CONFIG_QCOM_HFPLL=y
CONFIG_SENSORS_TCS3490=y
CONFIG_INPUT_STMVL53L0=y
CONFIG_USB_CC_FUSB301=y
