CONFIG_MACH_SONY_BLANC=y
CONFIG_INPUT_STMVL53L0=y
CONFIG_INPUT_STMVL53L0_SOMC_PARAMS=y
CONFIG_INPUT_ADUX1050=y
CONFIG_ADUX1050_POLL=y
CONFIG_INPUT_S210ST0X=y
CONFIG_CHARGER_LIS2XXX=y
CONFIG_BATTERY_CCG2=y
# CONFIG_FB_MSM_MDSS_SPECIFIC_PANEL is not set
CONFIG_MSM_DBA=y
CONFIG_MSM_DBA_ADV7533=y
CONFIG_MSM_DBA_ADV7533_SOMC_EXTN=y
CONFIG_MSM_SIL9612=y
